<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <listener>
        <description>ServletContextListener</description>
        <listener-class>listeners.ProyectListener</listener-class>
    </listener>
    
     <welcome-file-list>
        <welcome-file>/Game</welcome-file>
    </welcome-file-list>
    
    <servlet>
        <servlet-name>ServletLogin</servlet-name>
        <servlet-class>Servlets.ServletLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletLogin</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ServletRegister</servlet-name>
        <servlet-class>Servlets.ServletRegister</servlet-class>
    </servlet>
       <servlet-mapping>
        <servlet-name>ServletRegister</servlet-name>
        <url-pattern>/Index</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>ServletGame</servlet-name>
        <servlet-class>Servlets.ServletGame</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>ServletGame</servlet-name>
        <url-pattern>/Game</url-pattern>
    </servlet-mapping>
    
    
    
   
    
   
    
    <filter>
        <filter-name>loginFilter</filter-name>
        <filter-class>servlets.ServletLogFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>loginFilter</filter-name>
        <url-pattern>/Game</url-pattern>
    </filter-mapping>
    
   
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
